.beercard-base {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 70vh;
  width: 70vw;
}
.beercard-leftside {
  height: 70vh;
  width: 19vw;
  background-color: rgb(242, 183, 5);
}
.beercard-rightside {
  height: 70vh;
  width: 50vw;
  background-color: #ffffff;
  padding-left: 8vw;
}
.beercard-title {
  padding-top: 5vh;
  padding-bottom: 3vh;
}
.beercard-button {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
}
.beercard-description {
  padding-top: 5vh;
  display: flex;
  padding-right: 7vw;

  flex-wrap: wrap;
}
.beercard-img {
  height: 30em;
  position: absolute;
  top: 4vh;
  left: 11vw;
}
.beercard-button-moreinfo {
  position: absolute;
}
.beercard {
  display: flex;
  align-content: center;
}
