.button {
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  /* background-color: #feb614;
  color: #2d2d2d; */
}
/* .button-m {
  padding: 0.2em 1.2em;
  font-size: 1.2em;
} */

/* .button-s {
  padding: 0.2em 1em;
  font-size: 1em;
} */

/* .button-l {
  padding: 0.2em 1.5em;
  font-size: 1.5em;
  border-radius: 25px;
} */
/* .button-xs {
  padding: 0.1em 0.8em;
  font-size: 0.8em;
} */
.button:focus {
  outline: none;
}
