.footer-container {
  width: 370px;
  height: 160px;
  font-family: Roboto;
  color: #2d2d2d;
  background-color: #f2b705;
  display: flex;
  justify-content: center;
  line-height: 13px;
  padding: 5px;
}

.image {
  float: left;
  width: 8em;
  height: 8em;
  align-self: flex-start;
}

.footer-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 300;
  line-height: 13px;
  font-size: 11px;
  padding: 5px;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.behere {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}
