@import "../utils/colors.scss";

.location {
  color: $mainYellow;
  text-align: left;
  margin: 1em 1em 10em 2em;
  display: flex;
  padding-top: 4em;
  align-items: center;
  padding-bottom: 10em;
}

.location-img {
  height: 140px;
  border-radius: 25px;
  margin-top: 1em;
}

.location-rightside {
  padding-left: 2em;
}
.location-title {
  font-size: 1.6em;
}
.location-description {
  font-size: 0.85em;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 768px) {
  .location {
    margin: 1em 1em 1em 7em;
  }
  .location-rightside {
    padding-left: 4em;
  }
  .location-img {
    height: 250px;
    margin-top: 3em;
  }
  .location-title {
    font-size: 3em;
  }
  .location-description {
    font-size: 1.2em;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1179px) {
  .location {
    margin: 1em 10em 1em 30em;
  }
  .location-rightside {
    padding-left: 5em;
  }
  .location-img {
    height: 300px;
    margin-top: 3em;
  }
  .location-title {
    font-size: 4em;
    margin-bottom: 1em;
  }
  .location-description {
    font-size: 1.4em;
    margin-bottom: 3em;
  }
}
