@import "../utils/colors.scss";

.searchbar-container {
  display: flex;
  flex-grow: 1;
  height: 5em;
  flex-direction: row;
  background-color: $mainDark;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.input {
  display: flex;
  justify-content: flex-end;
  background-color: $mainDark;
  color: $mainWhite;
  padding-left: 4em;
  padding-right: 2em;
  padding-top: 2em;
  border-style: none;
  width: 70%;
}
#icon {
  color: $mainGrey;
  position: relative;
  font-size: medium;
  float: right;
  background-color: $mainDark;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .input {
    width: 80%;
  }
  #icon {
    padding-left: 4em;
  }
}
